div.heading-alias {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  & > span {
    text-decoration: none;
    background-color: var(--background-secondary-alt);
    border-radius: 30px;
    color: var(--text-normal);
    font-size: 0.8em;
    padding: 2px 8px;
    margin: 2px 4px;
    line-height: 19px;
    border: 1px solid transparent;
    white-space: nowrap;
  }
}